* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  background: #e63946;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}
.navbar a {
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: white;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}


/* Hero */
.hero {
  height: 90vh;
   background: url("images/pizza_bg.jpg") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  background: rgba(0,0,0,0.6);
  padding: 30px;
  color: white;
  text-align: center;
  border-radius: 10px;
}
.hero button {
  background: #e63946;
  color: white;
  padding: 12px 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.3s;
}

.hero button:hover {
  background: white;
  color: #e63946;
  transform: scale(1.1);
}
.hero-content {
  transition: 0.5s;
}

.hero-content:hover {
  transform: scale(1.05);
}

/* Menu */
.menu {
  padding: 50px;
  text-align: center;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 15px;
}

.card img {
  width: 100%;
}

.card h3 {
  margin: 10px 0;
}
.card {
  transition: 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.card img {
  transition: 0.4s ease;
}

.card:hover img {
  transform: scale(1.1);
}


/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}
